grpcio
grpcio-tools
genson
redis
jsonschema
openapi-schema-validator
pydantic
protobuf
grpcio-tools
opentelemetry-distro
opentelemetry-instrumentation-grpc
opentelemetry-exporter-otlp-proto-grpc
pyjwt
cryptography
